<h1 class="top1">Posts</h1>

<% if @posts.any? %>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-4 post-card ">
        <div class="card h-100 shadow">
          <h3>
          <% if post.image.attached? %>
            <%= image_tag post.image, data: { turbo: false }, class: "card-img-top post-image" %>
          <% end %>
          <div class="card-body">
            <p class="card-title"><%= link_to post.title, post, class: "card-title" %></p>
            <p class="card-text"><%= post.workout_details %></p>
          </div>
          <div class="card-footer text-muted">
            投稿日時: <%= l post.created_at %>
          </div>
          </h3>
        </div>
      </div>
    <% end %>
<% else %>
  <h1>投稿してください！！</h1>
<% end %>
<% if user_signed_in? %>
  <h3>
    <%= link_to '新しく投稿する', new_post_path, class: "btn btn-primary" %>
  </h3>
<% end %>
</div>
