<div class="post">
  <%# <h3><%= link_to @post.user.profile.username, profile_path(@post.user.profile) %></h3> %>
  <p><%= @post.workout_details %></p>
  <% if @post.image.attached? %>
    <img src="<%= url_for(@post.image) %>" alt="Post Image" class="img-fluid">
  <% end %>
  <% if @post.video.attached? %>
    <video controls class="img-fluid">
      <source src="<%= url_for(@post.video) %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  <% end %>
  <p>投稿日時: <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
</div>