<h1>Show</h1>
<div class="post">
  <%# <h3><%= link_to @post.user.profile.username, profile_path(@post.user.profile) %></h3> 
  <p><%= @post.workout_details %></p>
  <% if @post.image.attached? %>
    <img src="<%= url_for(@post.image) %>" alt="Post Image" class="img-fluid post-image">
  <% end %>
  <p>投稿日時: <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
  <h3><%= @post.user.email %></h3>
  <% if user_signed_in? && current_user == @post.user %>
  <%= link_to '編集する', edit_post_path, class: "btn btn-primary" %>
  <%= link_to '削除する', @post, data: { turbo_method: :delete }, class: "btn btn-danger" %>
  <% end %>

 <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
        <%= form.text_area :content , placeholder: "コメントする", rows: "2"%>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">

      <h4>＜コメント一覧＞</h4>
      <% @post.comments.each do |comment| %>
        <p>
          <% if comment.user.present? %>      
          <strong><%= link_to comment.user.email, user_path(comment.user) %>：</strong>
         <%= comment.content %>
          <% end %>
        </p>
      <% end %>
      
      
    </div>
  </div>
</div>
