<h1>Show</h1>
<div class="post">
  <%# <h3><%= link_to @post.user.profile.username, profile_path(@post.user.profile) %></h3> 
  <p><%= @post.workout_details %></p>
  <% if @post.image.attached? %>
    <img src="<%= url_for(@post.image) %>" alt="Post Image" class="img-fluid post-image">
  <% end %>
  <p>投稿日時: <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
  <h3><%= @post.user.email %></h3>
  <%= link_to 'この投稿を削除する', @post, data: { turbo_method: :delete }, class: "btn btn-danger" %>
</div>